.seasonsContainer {
  display: "flex";
  flex-direction: "row";
  gap: "16px";
  align-items: "center";
  justify-content: "center";
  /* passed down */
  height: "60px";
  /* test */
  background: "red";
}
