.container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  animation: fadeIn 1.2s;
  height: 40px;
}

@media screen and (min-width: 480px) {
  .container {
    height: 60px;
  }
}

.winter {
  height: 100%;
  transform: rotate(45deg);
}

.spring {
  height: 100%;
}

.summer {
  height: 100%;
  animation: forward-spin 60s linear infinite;
}

.autumn {
  height: 100%;
}

.rotate {
  animation: forward-spin 60s linear infinite;
}

@keyframes forward-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
