 /* .page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 48px;
  font-family: var(--font-geist-sans);

  padding: 20px;
}


.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 32px;
}

.month {
  border: 1px black solid;
  border-radius: 8px;
  cursor: pointer;
  transition: width 0.5s ease-in-out;
  display: 'flex';
}

.month h2 {
  color: black;
  margin-bottom: 12px;
  transition: font-size 0.5s ease-in-out;
}

.daysContainer {
  display: flex;
  gap: 5px;
}

.day {
  text-align: center;
}


.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}  */
