:root {
  --breakpoint-mobile: 480px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
  --breakpoint-large: 1440px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  filter: contrast(170%) brightness(100%);
  background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 245, 228, 0.55) 100%
    ),
    url(/texture.svg);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-width: 360px;
  padding: 32px 16px;
}
@media screen and (min-width: 480px) {
  body {
    padding: 32px;
  }
}
@media screen and (min-width: 768px) {
  body {
    padding: 48px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  transition: font-size 0.6s;
  font-size: 30px;
}
@media screen and (min-width: 480px) {
  h1 {
    font-size: 36px;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 48px;
  }
}

/* Template:

.container {
  height: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    height: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    height: 50px;
  }
}

*/

/* 

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} 
  
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} 
  
*/
