.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 16px 0;
}

@media screen and (min-width: 480px) {
  .text {
    padding: 24px 0;
  }
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:focus {
  outline: 2px solid #000000;
}

.link:focus:not(:focus-visible) {
  outline: none;
}

.link:focus-visible {
  outline: 2px solid #004089;
  outline-offset: 2px;
}

.unavailable {
  opacity: 0.6;
  color: #666;
}
