.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  height: 90vh;
  max-height: 800px;

  padding: 0 8px;
}

.dateHeader {
  font-size: 32px;
  text-transform: capitalize;

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 16px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);

  animation: fadeInOpacity 0.6s;
}

.innerPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;

  flex-grow: 1;
  padding-top: 16px;
  overflow-y: scroll;

  padding-bottom: 64px;

  animation: fadeInOpacity 1.2s;
}

.paragraph {
  font-size: 18px;
  line-height: 28px;
}

.quoteDetails {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  padding-bottom: 16px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);

  border-top: 2px solid rgba(0, 0, 0, 0.8);
  padding-top: 16px;

  animation: fadeInOpacity 2.4s;
}

.author {
  min-width: fit-content;
  font-weight: bold;
}

.book {
  font-style: italic;
  text-align: right;
}

@keyframes fadeInOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
