.container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: center;

  & > :first-child {
    justify-self: start;
  }

  & > :last-child {
    justify-self: end;
  }
}

.disabled,
.disabled:hover {
  color: rgba(0, 0, 0, 0.2);
  opacity: 0.6;
}
