.container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 16px;

  opacity: 0.7;
  transition: opacity 0.6s;

  &:hover {
    opacity: 1;
  }
}
