.dayCircle {
  text-align: center;
  min-width: 20px;
  min-height: 20px;
  border: 1px black solid;
  border-radius: 50%;

  animation: fadeInOpacity 1.2s;
}

@keyframes fadeInOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
