.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 4px;
  padding-left: 4px;
}

.subtitle {
  font-size: 12px;
  font-style: italic;
}

@media screen and (min-width: 480px) {
  .title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 18px;
  }
}

.icons {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  transition: height 0.6s linear;
}

@media screen and (min-width: 480px) {
  .icons {
    gap: 16px;
    height: 50px;
  }
}

@media screen and (min-width: 768px) {
  .icons {
    height: 60px;
  }
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 32px 16px;
  gap: 48px;
}
